body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */
.container-fluid div {
  margin-top: 20px;
}
.container-fluid div ul li {
  margin-top: 10px;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: auto;
}

.nav-item a {
  margin: 0px 40px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #B4B4C0;
  opacity: 0.8;
}
.nav-item a:hover {
  font-weight: bold;
}
.nav-item a.nav-link {
  padding: 3px;
}
.nav-item a::before, .nav-item a::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: #F2D4C9;
  transform: scaleX(0);
  transition: transform 0.25s;
  width: 100%;
  height: 2px;
}
.nav-item a::before::before, .nav-item a::after::before {
  top: -3px;
}
.nav-item a::before::after, .nav-item a::after::after {
  bottom: -3px;
}
.nav-item a:hover::before, .nav-item a:hover::after {
  transform: scaleX(1);
}

.nav-item a::before {
  top: -3px;
}
.nav-item a::after {
  bottom: -3px;
}

/* Home */
#portada {
  display: flex;
  flex-direction: column;
  margin: 300px 0px;
  justify-content: center;
  align-items: center;
}
#portada h1 {
  color: #F2D4C9;
  font-weight: bold;
  letter-spacing: 8pt;
  font-size: 40px;
  margin: auto;
}
#portada h2 {
  color: #F2D4C9;
  font-weight: 100;
  letter-spacing: 13.7pt;
  font-size: 24px;
  margin: auto;
  margin-top: 5px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
footer .ico img {
  margin: 78px;
  width: 30px;
  height: 30px;
}
footer .ico img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
footer a {
  text-decoration: none;
  text-transform: uppercase;
}

/* About me */
#biogra {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  justify-content: center;
  align-items: center;
}
#biogra h3 {
  color: #F2D4C9;
  font-weight: normal;
  letter-spacing: 10.2pt;
  font-size: 21px;
  margin-top: 40px;
}
#biogra .vertica {
  align-self: center;
  margin: 40px;
  background-color: #F2D4C9;
  border-radius: 10px;
  width: 5px;
  height: 500px;
}
#biogra .sobre {
  color: #B4B4C0;
  font-weight: lighter;
  font-size: 19px;
  max-width: 400px;
  line-height: 25px;
  margin-bottom: 0px;
}
#biogra .foto {
  height: 400px;
  margin-left: 90px;
}

/* Landscape */
.obras {
  margin-top: 80px;
}
.obras .cards {
  margin-bottom: 60px;
}
.obras .prop {
  padding-left: 1rem;
}
.obras .prop h4 {
  margin-top: 10px;
}
.obras .prop li {
  color: #B4B4C0;
  font-family: "Roboto", sans-serif;
}

/* Contact */
.wrap {
  width: 100%;
  max-width: 500px;
  padding: 40px;
  margin: auto;
  margin-top: 80px;
}
.wrap .formulario {
  width: 100%;
  color: #F2D4C9;
  margin: auto;
  margin-bottom: 70px;
  margin-top: 70px;
}
.wrap .formulario .input-group {
  position: relative;
  margin-bottom: 32px;
}
.wrap .formulario .input-group input[type=text],
.wrap .formulario .input-group input[type=email],
.wrap .formulario .input-group input[type=text2] {
  font-family: "Roboto", Arial;
  font-size: 16px;
  color: #B4B4C0;
  width: 470px;
  outline: none;
  padding: 15px 15px 5px 15px;
  background: none;
  border: none;
  border-bottom: 1px solid #F2D4C9;
  transition: all 0.1s ease;
}
.wrap .formulario .input-group input[type=text]:focus, .wrap .formulario .input-group input[type=text]:active,
.wrap .formulario .input-group input[type=email]:focus,
.wrap .formulario .input-group input[type=email]:active,
.wrap .formulario .input-group input[type=text2]:focus,
.wrap .formulario .input-group input[type=text2]:active {
  outline: none;
  border-bottom: 2px solid #F2D4C9;
}
.wrap .formulario .input-group label.label {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 15px;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  bottom: 34px;
  left: 0;
}
.wrap .formulario .input-group label.label.active {
  top: -12px;
  font-size: 12px;
  line-height: 12px;
  color: #F2D4C9;
}
.wrap .formulario .input-group .radio label {
  display: inline-block;
  cursor: pointer;
  color: #F2D4C9;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wrap .formulario input[type=submit] {
  background: #F2D4C9;
  color: #191919;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", Arial;
  font-size: 16px;
  padding: 15px;
  width: 100px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wrap .formulario input[type=submit]:hover {
  background: #F2D4C9;
}

/* Responsive Mobile */
@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    width: 100%;
  }
  .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl,
  .navbar > .container-fluid,
  .navbar > .container-fluid-fluid,
  .navbar > .container-fluid-lg,
  .navbar > .container-fluid-md,
  .navbar > .container-fluid-sm,
  .navbar > .container-fluid-xl,
  .navbar > .container-fluid-xxl,
  .navbar > .container-lg,
  .navbar > .container-lg-fluid,
  .navbar > .container-lg-lg,
  .navbar > .container-lg-md,
  .navbar > .container-lg-sm,
  .navbar > .container-lg-xl,
  .navbar > .container-lg-xxl,
  .navbar > .container-md,
  .navbar > .container-md-fluid,
  .navbar > .container-md-lg,
  .navbar > .container-md-md,
  .navbar > .container-md-sm,
  .navbar > .container-md-xl,
  .navbar > .container-md-xxl,
  .navbar > .container-sm,
  .navbar > .container-sm-fluid,
  .navbar > .container-sm-lg,
  .navbar > .container-sm-md,
  .navbar > .container-sm-sm,
  .navbar > .container-sm-xl,
  .navbar > .container-sm-xxl,
  .navbar > .container-xl,
  .navbar > .container-xl-fluid,
  .navbar > .container-xl-lg,
  .navbar > .container-xl-md,
  .navbar > .container-xl-sm,
  .navbar > .container-xl-xl,
  .navbar > .container-xl-xxl,
  .navbar > .container-xxl,
  .navbar > .container-xxl-fluid,
  .navbar > .container-xxl-lg,
  .navbar > .container-xxl-md,
  .navbar > .container-xxl-sm,
  .navbar > .container-xxl-xl,
  .navbar > .container-xxl-xxl {
    display: block;
  }
  .navbar {
    text-align: right;
  }
  #portada {
    text-align: center;
  }
  #portada h1 {
    font-size: 20px;
  }
  #portada h2 {
    font-size: 15px;
    letter-spacing: 9px;
  }
  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  footer .ico img {
    margin: 20px;
    width: 20px;
    height: 20px;
  }
  #biogra {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  #biogra .foto {
    height: 300px;
    margin: 0px;
  }
  #biogra .vertica {
    width: 200px;
    align-self: center;
    margin: 40px;
    background-color: #F2D4C9;
    border-radius: 10px;
    height: 5px;
    width: 200px;
    height: 5px;
  }
  #biogra .biotext {
    width: 90%;
  }
  #biogra h3 {
    font-size: 20px;
    margin-top: 0px;
  }
  #biogra .sobre {
    font-size: 16px;
    max-width: 400px;
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: normal;
  }
  .obras {
    width: 100%;
    margin-top: 10px;
  }
  .obras div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .obras .cards {
    margin-bottom: auto;
  }
  .obras .prop {
    padding: 0;
  }
}
/* Responsive Tablet */
@media only screen and (max-width: 1180px) {
  body {
    width: 100%;
  }
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    width: 100%;
  }
  .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl,
  .navbar > .container-fluid,
  .navbar > .container-fluid-fluid,
  .navbar > .container-fluid-lg,
  .navbar > .container-fluid-md,
  .navbar > .container-fluid-sm,
  .navbar > .container-fluid-xl,
  .navbar > .container-fluid-xxl,
  .navbar > .container-lg,
  .navbar > .container-lg-fluid,
  .navbar > .container-lg-lg,
  .navbar > .container-lg-md,
  .navbar > .container-lg-sm,
  .navbar > .container-lg-xl,
  .navbar > .container-lg-xxl,
  .navbar > .container-md,
  .navbar > .container-md-fluid,
  .navbar > .container-md-lg,
  .navbar > .container-md-md,
  .navbar > .container-md-sm,
  .navbar > .container-md-xl,
  .navbar > .container-md-xxl,
  .navbar > .container-sm,
  .navbar > .container-sm-fluid,
  .navbar > .container-sm-lg,
  .navbar > .container-sm-md,
  .navbar > .container-sm-sm,
  .navbar > .container-sm-xl,
  .navbar > .container-sm-xxl,
  .navbar > .container-xl,
  .navbar > .container-xl-fluid,
  .navbar > .container-xl-lg,
  .navbar > .container-xl-md,
  .navbar > .container-xl-sm,
  .navbar > .container-xl-xl,
  .navbar > .container-xl-xxl,
  .navbar > .container-xxl,
  .navbar > .container-xxl-fluid,
  .navbar > .container-xxl-lg,
  .navbar > .container-xxl-md,
  .navbar > .container-xxl-sm,
  .navbar > .container-xxl-xl,
  .navbar > .container-xxl-xxl {
    display: block;
  }
  .navbar {
    text-align: right;
  }
  #portada {
    text-align: center;
    margin: 430px 0px;
  }
  #portada h1 {
    font-size: 20px;
  }
  #portada h2 {
    font-size: 15px;
    letter-spacing: 9px;
  }
  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  footer .ico img {
    margin: 20px;
    width: 20px;
    height: 20px;
  }
  #biogra {
    display: flex;
    flex-direction: column;
    margin: 130px 0px;
  }
  #biogra .foto {
    height: 300px;
    margin: 0px;
  }
  #biogra .vertica {
    width: 200px;
    align-self: center;
    margin: 40px;
    background-color: #F2D4C9;
    border-radius: 10px;
    height: 5px;
    width: 200px;
    height: 5px;
  }
  #biogra .biotext {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #biogra h3 {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  #biogra .sobre {
    font-size: 16px;
    max-width: 400px;
    line-height: 25px;
    margin-bottom: 20px;
    font-weight: normal;
  }
  .obras {
    width: 100%;
    margin-top: 10px;
  }
  .obras div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .obras .cards {
    margin-bottom: auto;
  }
  .obras .prop {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
