body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */

.container-fluid div{
    margin-top: 20px;
}

.container-fluid div ul li{
    margin-top: 10px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    width: auto;
}

.nav-item a{
    margin: 0px 40px;
}

.nav-item a:hover{
    font-weight: bold;
}

.nav-link{
    padding: 3px;
}

.nav-item a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}

.nav-item a::before,
.nav-item a::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #F2D4C9;
    transform: scaleX(0);
    transition: transform .25s;
}

.nav-item a::before{
    top: -3px;
    transform-origin: left;
}

.nav-item a::after{
    bottom: -3px;
    transform-origin: right;
}

.nav-item a:hover::before,
.nav-item a:hover::after{
    transform: scaleX(1);
}




/* Home */

#portada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 300px 0px;
}

#portada h1{
    color: #F2D4C9;
    font-weight: bold;
    letter-spacing: 8pt;
    font-size: 40px;
    margin: auto;
}

#portada h2{
    color: #F2D4C9;
    font-weight: 100;
    letter-spacing: 13.7pt;
    font-size: 24px;
    margin: auto;
    margin-top: 5px;
}

/* Footer */

footer{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.ico img:hover{
    height: 35px;
    width: 35px;
}

.ico img{
    height: 30px;
    width: 30px;
    margin: 78px;
}

footer a{
    text-decoration: none;
    text-transform: uppercase;
}

/* About me */

h3{
    color: #F2D4C9;
    font-weight: normal;
    letter-spacing: 10.2pt;
    font-size: 21px;
    margin-top: 40px;
}

.vertica{
    width: 5px;
    align-self: center;
    margin: 40px;
    background-color: #F2D4C9;
    border-radius: 10px;
    height: 500px;
}

#biogra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.sobre{
    color: #B4B4C0;
    font-weight: lighter;
    font-size: 19px;
    max-width: 400px;
    line-height: 25px;
    margin-bottom: 0px;
}

.foto{
    height: 400px;
    margin-left: 90px;
}

/* Landscape */

.obras{
    margin-top: 80px;
}

.cards{
    margin-bottom: 60px;
}

.prop h4{
    margin-top: 10px;
}

.prop li{
    color: #B4B4C0;
}

.prop{
    padding-left: 1rem;
}

/* Contact */

.wrap{
    width: 100%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
    margin-top: 80px;
}
.formulario{
    width: 100%;
    color: #F2D4C9;
    margin: auto;
    margin-bottom: 70px;
    margin-top: 70px;
}


.formulario .formulario .input-group {
    position: relative;
    margin-bottom: 32px;
}

.formulario .formulario .input-group input[type="text"],
.formulario .formulario .input-group input[type="email"],
.formulario .formulario .input-group input[type="text2"] {
    font-family: "Roboto", Arial;
    font-size: 16px;
    color: #B4B4C0;
    width: 470px;
    outline: none;
    padding: 15px 15px 5px 15px;
    background: none;
    border: none;
    border-bottom: 1px solid #F2D4C9;
    transition: all 0.1s ease;
}

.formulario .formulario .input-group input[type="text"]:focus,
.formulario .formulario .input-group input[type="text"]:active,
.formulario .formulario .input-group input[type="email"]:focus,
.formulario .formulario .input-group input[type="email"]:active,
.formulario .formulario .input-group input[type="text2"]:focus,
.formulario .formulario .input-group input[type="text2"]:active{
    outline: none;
    border-bottom: 2px solid #F2D4C9;
}

.formulario .formulario .input-group label.label{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-left: 15px;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    bottom: 40px;
    left: 0;
}

.formulario .formulario .input-group label.label.active {
    top: -12px;
    font-size: 12px;
    line-height: 12px;
    color: #F2D4C9;
}

.formulario .formulario .input-group.radio label {
    display: inline-block;
    cursor: pointer;
    color: #F2D4C9;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contenedor-formulario .formulario .input-group.radio label:hover {
    background: rgba(255,255,255,0.3);
}



.formulario .formulario input[type="submit"] {
    background: #F2D4C9;
    color: #191919;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto", Arial;
    font-size: 16px;
    padding: 15px;
    width: 100px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.formulario .formulario input[type="submit"]:hover {
    background: #F2D4C9;
}

/* Responsive Mobile */

@media only screen and (max-width: 768px){
    body{
        width: 100%;
    }

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        width: 100%;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        display: block;
    }

    .navbar{
        text-align: right;
    }

    #portada{
        text-align: center;
    }

    #portada h1{
        font-size: 20px;
    }

    #portada h2{
        font-size: 15px;
        letter-spacing: 9px;
    }

    footer{
        display: flex;
        flex-direction: row;
        width: 100%;;
    }

    .ico img{
        margin: 20px;
    }

    #biogra{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .foto {
        height: 300px;
        margin: 0px;
    }

    .vertica{
        width: 200px;
        align-self: center;
        margin: 40px;
        background-color: #F2D4C9;
        border-radius: 10px;
        height: 5px;
    }

    .biotext{
        width: 90%;
    }

    h3{
        font-size: 20px;
        margin-top: 0px;
    }

    .sobre{
        font-size: 16px;
        max-width: 400px;
        line-height: 25px;
        margin-bottom: 20px;
        font-weight: normal;
    }

    .obras{
        width: 100%;
        margin-top: 10px;
    }

    .obras div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards{
        margin-bottom: auto;
    }

    .prop{
        padding: 0;
    }
}